// Fuentes
@font-face {
  font-family: 'EssentiarumTCG';
  src: url('../fonts/EssentiarumTCG-SVG.otf') format('svg'),
       url('../fonts/EssentiarumTCG.otf') format('opentype');
  font-weight: normal; font-style: normal; font-display: swap;
}

@font-face {
  font-family: 'ThraexMagnus';
  src: url('../fonts/ThraexMagnus.woff2') format('woff2'),
       url('../fonts/ThraexMagnus.otf') format('opentype');
  font-weight: normal; font-style: normal; font-display: swap;
}

// Variables SASS & CSS Tokens
$bg: #14172B;
$surface: #1D2140;
$surface-2: #262B52;
$line: #383F72;
$text: #EDEBFF;
$text-dim: #A8ADD6;
$holo-a: #7DD3FC;
$holo-b: #C084FC;
$holo-c: #FDBA74;
$fire: #F87171;
$water: #38BDF8;
$grass: #4ADE80;
$electric: #FACC15;
$psychic: #E879F9;
$fighting: #FB923C;
$colorless: #D4D4D8;
$darkness: #A78BFA;
$metal: #94A3B8;
$dragon: #FDE68A;

:root {
  --bg: #14172B;
  --surface: #1D2140;
  --surface-2: #262B52;
  --line: #383F72;
  --text: #EDEBFF;
  --text-dim: #A8ADD6;
  --holo-a: #7DD3FC;
  --holo-b: #C084FC;
  --holo-c: #FDBA74;
  --fire: #F87171;
  --water: #38BDF8;
  --grass: #4ADE80;
  --electric: #FACC15;
  --psychic: #E879F9;
  --fighting: #FB923C;
  --colorless: #D4D4D8;
  --darkness: #A78BFA;
  --metal: #94A3B8;
  --dragon: #FDE68A;
  --display: 'Space Grotesk', sans-serif;
  --body: 'Inter', sans-serif;
  --mono: 'IBM Plex Mono', monospace;
  --tcg: 'EssentiarumTCG', sans-serif;
  --poke: 'ThraexMagnus', sans-serif;
}
